
<script>
function sendEmail(e) {

  e.preventDefault();

  document.getElementById("btn-send").className = "button is-info is-loading";

  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", "https://formspree.io/moritz@moritz-schramm.com", true);
  xhttp.setRequestHeader("content-type", "application/json");
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {

      document.getElementById("btn-send").className = "button is-info";
      document.getElementById("email").value    = "";
      document.getElementById("subject").value  = "";
      document.getElementById("message").value  = "";
    }
  };

  var email = document.getElementById("email").value;
  var subject = document.getElementById("subject").value;
  var message = document.getElementById("message").value;

  //xhttp.send("email="+email+"&_subject="+subject+"&message="+message);
  xhttp.send({"email":email,"_subject":subject,"message":message});
}
</script>
<div class="columns">

  <div class="column is-2"></div>

  <div class="column is-8">

    <form role="form">

      <div class="field">
        <label class="label">{{ page.translations.email }}</label>
        <p class="control has-icons-left">
          <input id="email" class="input" type="email" name="email" placeholder="{{ page.translations.email }}">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <label class="label">{{ page.translations.subject }}</label>
        <p class="control has-icons-left">
          <input id="subject" class="input" type="text" name="_subject" placeholder="{{ page.translations.subject }}">
          <span class="icon is-small is-left">
            <i class="fa fa-pencil"></i>
          </span>
        </p>
      </div>

      <label class="label">{{ page.translations.message }}</label>
      <textarea id="message" class="textarea" placeholder="{{ page.translations.message }}" name="message" rows="5"></textarea>

      <input type="submit" value="" style="display:none">
      <br>
      <div class="control has-text-right">
        <button id="btn-send" class="button is-warning" onclick="sendEmail(event);">{{ page.translations.send }}</button>
      </div>

    </form>

  </div>

  <div class="column is-2"></div>

</div>
