<script>
function sendEmail(e) {

  e.preventDefault();

  document.getElementById("notification-success").style.display = "none";
  document.getElementById("notification-error").style.display   = "none";

  document.getElementById("btn-send").className = "button is-warning is-loading";
  var form = document.getElementById("contact-form");

  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", form.action, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.onreadystatechange = function() {
    if (this.readyState == XMLHttpRequest.DONE) {

      document.getElementById("btn-send").className = "button is-warning";

      if(this.status == 200) {

        document.getElementById("email").value    = "";
        document.getElementById("subject").value  = "";
        document.getElementById("message").value  = "";
        document.getElementById("notification-success").style.display = "block";

      } else {

        document.getElementById("notification-error").style.display = "block";
      }
    }
  };

  var urlEncodedDataPairs = [];
  var data = {
    form-name: "Contact",
    email: document.getElementById("email").value,
    subject: document.getElementById("subject").value,
    message: document.getElementById("message").value
  };

  for(name in data) {
    urlEncodedDataPairs.push(encodeURIComponent(name) + '=' + encodeURIComponent(data[name]));
  }

  urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');

  xhttp.send(urlEncodedData);
}
</script>

<div class="columns">

  <div class="column is-2"></div>

  <div class="column is-8">

    <form id="contact-form" role="form" name="Contact" method="POST" action="/{{ page.lang }}/contact" data-netlify="true">

      <div class="field">
        <label class="label">{{ page.translations.email }}</label>
        <p class="control has-icons-left">
          <input id="email" class="input" type="email" name="email" placeholder="{{ page.translations.email }}">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <label class="label">{{ page.translations.subject }}</label>
        <p class="control has-icons-left">
          <input id="subject" class="input" type="text" name="subject" placeholder="{{ page.translations.subject }}">
          <span class="icon is-small is-left">
            <i class="fa fa-pencil"></i>
          </span>
        </p>
      </div>

      <label class="label">{{ page.translations.message }}</label>
      <textarea id="message" class="textarea" placeholder="{{ page.translations.message }}" name="message" rows="5"></textarea>

      <div class="control">
        <div id="notification-success" class="notification is-success" style="margin-top:7px;display:none;">
          {{ page.translations.notification-success }}
        </div>
        <div id="notification-error" class="notification is-danger" style="margin-top:7px;display:none;">
          {{ page.translations.notification-error }}
        </div>
      </div>

      <input type="submit" value="" style="display:none">
      <br>
      <div class="control has-text-right">
        <button type="button" id="btn-send" class="button is-warning" onclick="sendEmail(event);">{{ page.translations.send }}</button>
      </div>

    </form>

  </div>

  <div class="column is-2"></div>

</div>
