
<div class="columns">
  <div class="column is-2"></div>
  <div class="column is-8">

    <div class="tile is-anchestor">
        <div class="tile is-vertical">

          <div class="tile">

            <div class="tile is-parent">
              <a class="tile  is-child box" href="https://github.com/moritzschramm" target="_blank">
                <p class="title">{{ page.translations.open-source-projects }}</p>
                <p class="has-text-center">{{ page.translations.open-source-projects-text }}</p>
              </a>
            </div>
            <div class="tile is-parent">
              <a class="tile is-child box" href="/{{ page.lang }}/portfolio">
                <p class="title">{{ page.translations.portfolio }}</p>
                <p>{{ page.translations.portfolio-text }}</p>
              </a>
            </div>

          </div>

          <div class="tile is-parent">
            <a class="tile is-child box" href="/{{ page.lang }}/contact">
              <p class="title">{{ page.translations.contact }}</p>
              <p>{{ page.translations.contact-text }}</p>
            </a>
          </div>

        </div>
    </div>

  </div>
  
  <div class="column is-2"></div>
</div>
