<div class="columns">

  {% for post in site.categories.[page.lang] %}
  <div class="column is-3">
    <div class="card card-hoverable card-{{ post.css }}" onclick="window.location = '/{{ page.lang }}/{{ post.ref }}/';">
      <div class="card-image" >
        <figure class="image is-16by9" >
          <img src="/assets/imgs/{{ post.ref }}.png" alt="{{ post.title }}"
          style="border-top-left-radius: 4px; border-top-right-radius: 4px;">
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered" style="min-height: 4.1em;">
          <h4 style="margin-bottom: 2px;"><strong>{{ post.title }}</strong></h4>
          <h5>{{ post.type }}</h5>
        </div>

        <div class="card-button has-text-centered">
          <a href="/{{ page.lang }}/{{ post.ref }}/" class="button is-warning card-{{ post.css }}"><strong>{{ page.translations.info }}</strong></a>
        </div>

      </div>
    </div>
  </div>
  {% endfor %}

</div>
