<!DOCTYPE html>
<html {{ if not .Page.IsHome }} class="has-navbar-fixed-top" {{ end }} lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>

    {{ block "head" . }}

    {{ end }}
  </head>
  <body>

    {{ block "header" . }}

    {{ end }}


    {{ partial "navbar.html" . }}


    {{ block "main" . }}

    {{ end }}


    {{ partial "footer.html" . }}


    {{ block "footer" . }}

    {{ end }}
  	<script src="/scripts/site.js"></script>
  </body>
</html>
