<section class="hero is-medium is-dark" style="background-color: #212121;">
  <div class="hero-body has-text-centered">
    <div class="container">
      <ul>
        <li class="is-size-5"><a href="/publickey.x@mo5.ch.asc">Public Key</a></li>
        <li class="is-size-5"><a href="/privacy-policy/">Privacy Policy</a></li>
        <li class="is-size-5"><a href="/impressum/">Impressum</a></li>
        <br>
        <li class="is-size-6">Moritz Schramm © 2021</li>
      </ul>  
    </div>
  </div>
</section>
