<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p style="padding-top: 50px; padding-bottom: 0px;">
        pm@moritz-schramm.com<br>
        Moritz Schramm © 2019<br>
        <a href="/privacy/">{% if page.lang == "de" %}Datenschutzerklärung{% else %}Privacy Policy{% endif %}</a><br>
        {% if page.lang == "de" %}
        <a href="/impressum/">Impressum</a><br>
        {% endif %}
	<a href="/pm@moritz-schramm.com.asc">Public Key</a>
      </p>
    </div>
  </div>
</footer>
