<nav class="navbar is-fixed-top is-dark" style="box-shadow: #333 0px 0px 8px;" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item ms-logo" href="/{{ page.lang }}/">
      Moritz Schramm
    </a>

    <div class="burger navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="navMenu">

    <div class="navbar-start">
      <a class="navbar-item{% if page.indexpage %} is-active{% endif %}" href="/{{ page.lang }}/">
        {{ site.data.lang.[page.lang].home }}
      </a>
      <a class="navbar-item{% if page.ref == 'portfolio' %} is-active{% endif %}" href="/{{ page.lang }}/portfolio/">
        {{ site.data.lang.[page.lang].portfolio }}
      </a>
      <!--a class="navbar-item{% if page.ref == 'contact' %} is-active{% endif %}" href="/{{ page.lang }}/contact/">
        {{ site.data.lang.[page.lang].contact }}
      </a-->
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Language: {{ site.data.lang.[page.lang].lang }}
        </a>

        <div class="navbar-dropdown is-hoverable is-boxed">
          <a class="navbar-item {% if page.lang == "de" %}is-active{% endif %}" 
                href="/de/{% unless page.indexpage %}{{ page.ref }}/{% endunless %}">
            Deutsch
          </a>
          <a class="navbar-item {% if page.lang == "en" %}is-active{% endif %}" 
                href="/en/{% unless page.indexpage %}{{ page.ref }}/{% endunless %}">
            English
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function () {

var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

if ($navbarBurgers.length > 0) {

$navbarBurgers.forEach(function ($el) {
  $el.addEventListener('click', function () {

    var target = $el.dataset.target;
    var $target = document.getElementById(target);

    $el.classList.toggle('is-active');
    $target.classList.toggle('is-active');

  });
});
}

});
</script>
