<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="{{ page.lang }}">
  <head>
    {% include layout/head.html %}
  </head>
  <body>

{% include layout/navbar.html %}

{% unless page.noHero %}
  {% include layout/hero.html %}
{% endunless %}

<section class="section is-stretched">
  <div class="container">
    {{ content }}
  </div>
</section>

{% include layout/footer.html %}

{% include layout/custom-style.html %}

<script src="//instant.page/1.0.0" type="module" integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI"></script>

  </body>
</html>
