<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="{{ page.lang }}">
  <head>
    {% include layout/head.html %}
  </head>
  <body>

{% include layout/navbar.html %}

<section class="section is-stretched">
  <div class="container">

    <div class="columns">

      <div class="column is-3">

        <div class="card card-is-sticky" style="border-radius: 4px;">
          <div class="card-image" >
            <figure class="image is-16by9" >
              <img src="/assets/imgs/{{ page.ref }}.png" alt="{{ page.title }}"
              style="border-top-left-radius: 4px; border-top-right-radius: 4px;">
            </figure>
          </div>
          <div class="card-content">
            <div class="content" style="min-height: 4.1em;">
              <h4 style="margin-bottom: 2px;"><strong>{{ page.title }}</strong></h4>
              <h5>{{ page.type }}</h5>
              <p>
                {% if page.link != nil %}
                  <i class="fa fa-link"></i>
                  <a href="{{ page.link }}" target="_blank"> {{ page.link }}</a><br>
                {% endif %}

                {% if page.download != nil %}
                  <i class="fa fa-download"></i>
                  <a href="{{ page.download }}" target="_blank"> Download</a><br>
                {% endif %}
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="column is-9">

        <h1 class="title">{{ page.title }}</h1>

        <div class="content">

          {{ content }}

        </div>

      </div>

    </div>

  </div>
</section>

{% include layout/footer.html %}

{% include layout/bulma.css.html %}
{% include layout/custom-style.html %}

  </body>
</html>
